<h1>Pages#game</h1>
<p>Find me in app/views/pages/game.html.erb</p>

<p>
  ******** Welcome to the longest word-game!********

</p>

<p>
  Here is your grid: <%= @init_grid %>
</p>

<p>

  *****************************************************

</p>

<p>
  What's your best shot?
</p>
<form action="/score" method="get">
  <input type="text" name="attempt" placeholder="What is your best shot?">
  <input type="hidden" name="init_grid" value="<%= @init_grid.join %>">
  <input type="hidden" name="start_time" value="<%= @start_time %>">
  <input type="submit">
</form>
