<h1>Pages#score</h1>
<p>Find me in app/views/pages/score.html.erb</p>

<p>******** Now your result ********</p>
<p>Your score: <%= @result[:score] %></p>
<p>Your message: <%= @result[:message] %></p>
<p>Time: <%= @result[:time] %></p>

<p>******** ******** ******** </p>

